body {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;

}
  /*control of the twitter frame size*/
  #twitter-widget-0 {
    width: 100px !important;
    height: 600px !important;
  }
/*twitter frame size */
  #twitter-widget-0 {
    width: 300px !important;
    min-height: 5px !important;
  }
  .twitter-timeline {
  border-radius: 30px;
}
/*control of the twitter frame*/

.twitter-timeline {
  border: 3px solid #00943f;
  float: right;
  margin-left: 15px;
  overflow: hidden;
}
#twitter-widget-0 {
  height: 500px !important;
  min-height: 500px !important;
}

  
